# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables files
.env*

# Mac system files
.DS_Store

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage directory
coverage/

# Misc
*.tgz
